.meow {
    font-family: "Cormorant SC", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    margin: 0;
    padding: 0;
}

span{
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
}
